<footer class="text-white py-4 footer" style="background-color:  #123524;;">
    <div class="container">
        <div class="row">
            <div class="col-md-3"><h5>Categories</h5><ul><li>Vegetables</li><li>Fruits</li></ul></div>
            <div class="col-md-3"><h5>Useful Links</h5><ul><li>Privacy Policy</li><li>Terms & Conditions</li></ul></div>
            <div class="col-md-3"><h5>Top Cities</h5><ul><li>India</li><li>New York</li><li>Los Angeles</li></ul></div>
            <div class="col-md-3"><h5>Contact Us</h5><ul><li><i class="fa fa-phone"></i> +123 456 789</li><li><i class="fa fa-envelope"></i> contacturbanharvestofficially.com</li></ul></div>
        </div>
        <p class="text-center mt-3">&copy; 2025 Supermarket. All rights reserved.</p>
    </div>
</footer>